<router-outlet>
    <p>booksmodule works!</p>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="row">
            <h2>Shop the unique and versatile collection of <a href="https://www.stickerbombworld.com/">Street art books UK</a> at Stickerbomb. They have launched a new collection on regular basis. You can also get your customized street art book here. For
                customized street art book do visit at https://www.stickerbombworld.com/ </h2>
        </div>
    </div>
</router-outlet>